       body
        {
            color:black;
            background-attachment:fixed;
            background-size:cover;
            background-repeat:no-repeat;
            height: 489px;
        }
.table {
    background-color: #CCCCCC;
    border-style: double;
}
      

        .auto-style14 {
            height: 23px;
        }
        .auto-style11 {
            width: 107px;
        }
        .auto-style5 {
            width: 213px;
        }
        .auto-style12 {
            height: 22px;
            width: 107px;
        }
        .auto-style1 {
            height: 22px;
        }
        .auto-style6 {
            height: 22px;
            width: 213px;
        }
        .auto-style2 {
            color: #FF0000;
        }
        .auto-style13 {
            height: 75px;
            width: 107px;
        }
        .auto-style3 {
            height: 75px;
        }
        .auto-style4 {
            position: absolute;
            top: 181px;
            left: 129px;
            z-index: 1;
            height: 25px;
            width: 111px;
        }
        .auto-style10 {
            position: absolute;
            top: 100px;
            left: 119px;
            z-index: 1;
        }
        .auto-style9 {
            position: absolute;
            top: 218px;
            left: 32px;
            z-index: 1;
            width: 344px;
        }
        .auto-style7 {
            height: 75px;
            width: 213px;
        }
        .auto-style8 {
            position: absolute;
            top: 181px;
            left: 262px;
            z-index: 1;
        }
        .auto-style15 {
            height: 42px;
        }
        .auto-style16 {
            width: 213px;
            height: 42px;
        }