<style type="text/css">
        .auto-style1 {
            width: 100%;
            height: 211px;
        }
        .auto-style3 {
            width: 359px;
            height: 66px;
            text-align: center;
        }
        .auto-style4 {
            top: 83px;
            left: 893px;
            z-index: 1;
            width: 145px;
            bottom: 417px;
        }
        .auto-style6 {
            top: 31px;
            left: 75px;
            z-index: 1;
            width: 138px;
        }
        .auto-style7 {
            width: 359px;
            text-align: left;
            height: 151px;
        }
        .auto-style8 {
            position: absolute;
            top: 531px;
            left: 573px;
            z-index: 1;
        }
        .auto-style9 {
            height: 66px;
        }
        .auto-style10 {
            height: 151px;
            text-align: center;
        }
        .auto-style11 {
            position: absolute;
            top: 625px;
            left: 580px;
            z-index: 1;
        }
        body
        {
            color:black;
            background-image:url(bc1.jpg);
            background-attachment:fixed;
            background-size:cover;
            background-repeat:no-repeat;

        }
        .auto-style14 {
            top: 95px;
            left: 461px;
            z-index: 1;
            width: 300px;
            height: 34px;
        }
        .auto-style15 {
            top: 216px;
            left: 896px;
            z-index: 1;
            width: 136px;
        }
        .auto-style16 {
            position: absolute;
            top: 855px;
            left: 585px;
            z-index: 1;
            width: 62px;
        }
        .auto-style17 {
            position: absolute;
            top: 755px;
            left: 579px;
            z-index: 1;
        }
        .auto-style18 {
            position: absolute;
            top: 665px;
            z-index: 1;
            width: 109px;
            left: 568px;
        }
        .auto-style19 {
            width: 98%;
            height: 669px;
            margin-right: 61px;
        }
        .auto-style20 {
            text-align: left;
            width: 541px;
        }
        .auto-style21 {
            width: 305px;
        }
        .auto-style22 {
            width: 541px;
        }
        .auto-style23 {
            position: absolute;
            top: 575px;
            left: 565px;
            z-index: 1;
        }
        .auto-style24 {
            width: 249px;
        }
        .auto-style25 {
            text-align: center;
        }
        .auto-style26 {
            text-align: justify;
            width: 541px;
        }
        .auto-style27 {
            height: 66px;
            width: 427px;
        }
        .auto-style28 {
            height: 151px;
            text-align: center;
            width: 427px;
        }
        </style>
